<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdate</servlet-name>
        <servlet-class>OrderUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnfulfilledOrders</servlet-name>
        <servlet-class>UnfulfilledOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addItemToCart</servlet-name>
        <servlet-class>addItemToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContinueWithNoAccount</servlet-name>
        <servlet-class>ContinueWithNoAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdate</servlet-name>
        <url-pattern>/OrderUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnfulfilledOrders</servlet-name>
        <url-pattern>/UnfulfilledOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addItemToCart</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContinueWithNoAccount</servlet-name>
        <url-pattern>/ContinueWithNoAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
